


body {
	margin: 0;
}
.buttons {
	padding: 20px;
}
.button {
	display: inline-block;
	margin: 0 20px 0 0;
	border-radius: 3px;
	padding: 0 20px;
	min-width: 80px;
	font: 15px/30px Arial, Helvetica, sans-serif;
	text-decoration: none;
	text-align: center;
	vertical-align: top;
	color: #fff;
	transition: all 0.25s;
}
.button.blue {
	background: rgba(0,0,255,0.5);
}
.button.blue:hover {
	background: rgba(0,0,255,0.7);
}
.button.red {
	background: rgba(255,0,0,0.5);
}
.button.red:hover {
	background: rgba(255,0,0,0.7);
}
.button.green {
	background: rgba(0,255,0,0.5);
}
.button.green:hover {
	background: rgba(0,255,0,0.7);
}
.button.all {
	background: rgba(0,0,0,0.5);
}
.button.all:hover {
	background: rgba(0,0,0,0.7);
}


